.WrapperReservationProgressionBar{
    width: 100%;
    margin-top: 20px;
    height: 8px;
    border-radius: 13px;
    background-color: #b5b5b5;
}

.ReservationProgressionBar{
    height: 8px;
    border-radius: 13px;
    background-color: #00aadc;
}

